<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603347038537-6r2b5pio58oa5cfto85j7ac7kch1j9kg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603347038537-6r2b5pio58oa5cfto85j7ac7kch1j9kg</string>
	<key>API_KEY</key>
	<string>AIzaSyCAKnu5EMVQIHFVs7m7lZHnYHtR7QrhFYk</string>
	<key>GCM_SENDER_ID</key>
	<string>603347038537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newProject</string>
	<key>PROJECT_ID</key>
	<string>auth-c86e2</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-c86e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603347038537:ios:fcd4f758fc6e8b1dbe2a98</string>
</dict>
</plist>